@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
html, body {
  height: 100%;
}
 
/* Ensure the container of the cars has relative positioning */
.car {
  position: absolute;
  width: 25px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
  margin-top: 15px;
  animation: moveLinear 2s linear infinite;
}
 
/* Animation for linear movement */
@keyframes moveLinear {
  from {
    left: -100%; /* Initial position of the cars */
  }
  to {
    left: 100%; /* Final position of the cars */
  }
}
 
/* Positioning for each car */
  .car1 {
      top: 90;
      /* animation-delay: 10s; Delays the animation for the first car */
  }
 
 
/* Styles for the car images */

 
#blueCar {
  width: 250px; /* Ensures the image fills the car container */
  height: 160px /* Ensures the image fills the car container */
}
 
 
 
 
 
 
 
 
 
 
  .table {
    display: table;
    width: 100%;
    position: absolute;
    height: 100%;
    margin-top: -3%;
   
    /* margin-left: -25%; */
 
  }
  /* svg{ */
    /* margin-top: 35%;  */
    /* position: relative;
    margin-left: 120%;
  } */
 
 
  /* @media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
  } */
 
 
 
  .table-cell {
    display: table-cell;
    vertical-align: middle;
    margin-top: 10px;
   
  }
 
 
  #main {
    width: 300px;
    height: 300px;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.1s;
    transition: -webkit-transform 0.1s;
    transition: transform 0.1s;
    transition: transform 0.1s, -webkit-transform 0.1s;
    border-radius: 300px;
    /* background: -webkit-linear-gradient(285deg, #00a8ff 0%, #cc00ff 100%);
    background: linear-gradient(165deg, #00a8ff 0%, #cc00ff 100%); */
    background: -webkit-linear-gradient(285deg, #00a8ff 0%, #2123be 100%);
    background: linear-gradient(165deg, #00a8ff 0%, #2b1ac3 100%);
    margin: 0 auto;
    margin-bottom: 1px;
   
    box-shadow: 0 0 90px rgba(0, 0, 255, 0.6);
 
  }
 
  #screen {
    color: #fff;
    z-index: 2;
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background: #010101;
    width: 280px;
    height: 280px;
    /* margin: 10px; */
    margin-left: 6px;
    /* margin-top: -30px; */
    /* margin-bottom: -30px; */
    /* margin-bottom: -25px; */
    margin: 10px;
    border-radius: 100%;
    position: absolute;
    overflow: hidden;
  }
 
 
  @keyframes rotateRadial {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
 
  #radial {
    position: relative;
 margin-left: 2%;
    margin-top: 1.5%;
    width: 97%;
    height: 97%;
    opacity: 0.5;
    animation: rotateRadial 10s linear infinite;
  }
 
  #radial #empty {
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: #000;
    border-radius: 100%;
    left: 5%;
    top: 5%;
    pointer-events: none;
   
   
  }
 
  #radial .tick {
    position: absolute;
    width: 1.5px;
    height: 100%;
    left: 50%;
    margin-left: -1px;
    background: #ffffff;
    pointer-events: none;
   
   
  }
 
 
  #home {
    position: absolute;
    mix-blend-mode: screen;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 
  }
 
  @keyframes floatMotion {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
 
  @keyframes waveMotion {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(0);
    }
    75% {
      transform: translateX(5px);
    }
    100% {
      transform: translateX(0);
    }
  }
 
  #home h1 {
    position: absolute;
    top: 140px;
    margin-top: 55px;
    line-height: 0.25px;
    text-align: center;
    font-size: 70px;
    width: 100%;
    letter-spacing: 5px;
    color: rgb(252, 252, 252);
    animation: floatMotion 2s ease-in-out infinite;
    margin-left: 7px;
  }
  #home #mph {
    color: fff;
    opacity: 1;
    position: absolute;
    width: 100%;
    bottom: 70px;
    text-align: center;
    font-size: 52px;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    font-weight: 100;
  }
  #home #status,
  #home h2 {
    width: 100%;
    font-size: 20px;
    opacity: 1;
    letter-spacing: 0.25px;
    position: absolute;
    top: 110px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 200;
    text-align: center;
    animation: floatMotion 2s ease-in-out infinite;
  }
    #home #status{
      top: 60px;
    }
 
    #home #icon img {
      width: 55px;
 
      opacity: 1;
      letter-spacing: 0.25px;
      position: absolute;
      top: 75px;
      left: 162px;
      text-transform: uppercase;
      color: #00a8ff;
      font-weight: bold;
      text-align: center;
    }
 
  #main.pressed,
  #main:active {
    -webkit-transform: scale(0.9875);
    transform: scale(0.9875);
    opacity: 0.7;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
 
body {
  margin: 0;
  /* background: linear-gradient(#eee, #ccc); */
  background: black;
  overflow: hidden;
}
 
.selector {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 300px;
  margin-top: -107.5px;
  margin-left: -150px;
}
 
.selector, .selector button {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
 
/* .selector button {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #428bca;
  border-radius: 50%;
  border: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.1s;
} */
 
/* .selector button:hover {
  background: #3071a9;
} */
 
.selector button:focus {
  outline: none;
}
 
.selector ul {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  top: -20px;
  right: -60px;
  bottom: -20px;
  left: -50px;
  animation: floatMotion 2s ease-in-out infinite;
}
 
.selector li {
  position: absolute;
  width: 0;
  height: 100%;
  margin: 0 50%;
  -webkit-transform: rotate(-180deg);
  transition: all 0.8s ease-in-out;
}
 
.selector li input {
  display: none;
}
 
 
/* .selector li input + label {
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: 0;
  height: 0;
  line-height: 1px;
  margin-left: 0;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 1px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.8s ease-in-out, color 0.1s, background 0.1s;
} */
 
/* .selector li input + label {
    position: absolute;
    left: 50%;
    bottom: 100%;
    width: 0;
    height: 0;
    line-height: 1px;
    margin-left: 0;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 1px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 10px #ff00de, 0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 60px #ff00de, 0 0 70px #ff00de;
    transition: all 0.8s ease-in-out, color 0.1s, background 0.1s;
  }
   */
 
 
.selector li input + label:hover {
  /* background: #f0f0f0; */
 
}
 
.selector li input:checked + label {
  background: #140a9e;
  /* color: white; */
 
}
 
.selector li input:checked + label:hover {
  background: #14147e;
 
}
a{
    color: #ffffff;
}
a:hover{color:#ffffff}
 
.selector.open li input + label {
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin-left: -20px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  font-size: 14px;
 
}
 
.selector li input + label {
    position: absolute;
    left: 50%;
    bottom: 100%;
    width: 0;
    height: 0;
    line-height: 1px;
    margin-left: 0;
    /* background: #fff; */
    border-radius: 50%;
    text-align: center;
    font-size: 1px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 10px #5500ff, 0 0 20px #3700ff, 0 0 30px #390593;
    transition: all 0.8s ease-in-out, color 0.1s, background 0.1s;
    border: 2px solid  #00a8ff;;
  }
 
  .selector li input + label:hover {
    box-shadow: 0 0 10px #5500ff, 0 0 20px #3700ff, 0 0 30px #390593;
    transition: all 0.1s ease-in-out, color 0.1s, background 0.1s;
 
  }
  /* .selector.open li input + label {
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin-left: -20px;
    box-shadow: 0 3px 3px rgba(17, 4, 194, 0.1), 0 0 10px #5c0eed, 0 0 20px #0033ff, 0 0 30px #2e05b7;
    font-size: 14px;
  } */
 
 
/* Apply custom styles to the checkboxes */
.selector input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #4a4a4a;
    border-radius: 50%;
    outline: none;
    transition: border-color 0.3s;
    position: relative;
  }
 
   /* Logout Button */
  .btn-logout {
    background-color: #e74c3c; /* Red color */
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 10px; /* Adds margin only to the top and bottom */
 
    pointer-events: auto; /* Ensures the button is clickable */
    display: inline-block; /* Ensures it behaves like a button */
    position: relative; /* Ensure it's not covered by other elements */
    z-index: 10; /* Ensure it's above other elements */
}
 
.btn-logout:hover {
    background-color: #c0392b; /* Darker red for hover effect */
}

/* Blinking Words */
.star-container {
  position: relative;
  overflow: hidden;
  width: 35%;
  height: 55%;
  /* background-color: #202020; */
}

.big {
  font-size: 32px;
  color: #fff; 
}
.small {
  font-size: 16px;
  color: #00a8ff;
}


.blinking-word{
  position: absolute;
  /* font-family: monospace; */
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  opacity: 1;
  animation: fade ease-in-out infinite;
  padding: 0px 0px 0px 20px;
}

@keyframes fade {
  0%,
  100% {
  opacity: 0;
  }
  50% {
  opacity: 1;
  }
}


/* Tabs in Right Side */
@keyframes slideIn {
  from {
      right: -300px;
      opacity: 0;
  }
  to {
      right: 0;
      opacity: 1;
  }
}

@keyframes slideOut {
  from {
      right: 0;
      opacity: 1;
  }
  to {
      right: -300px;
      opacity: 0;
  }
}


.tab-content {
  position: fixed;
  right: -300px; /* Start off-screen */
  top: 80px;
  width: 300px;
  max-height: 85%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  z-index: 1000;
  padding: 20px;
  display: none; /* Initially hidden */
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.tab-content.show {
  display: block;
  animation: slideIn 0.5s forwards;
}

.tab-content.hide {
  animation: slideOut 0.5s forwards;
}

.tab-content h6{
  text-align: center;
}
.tab-content p{
  font-size: 10px;
}

.tab-content img{
  margin-top: -5px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.tab-bootCamp img{
  width: 250px;
  height: 412px;
}
.tab-driveIn img{
  width: 160px;
  height: 400px;
}
.tab-dashboard img{
  width: 148px;
  height: 415px;
}
.tab-automation img{
  width: 160px;
  height: 400px;
}
.tab-fame img{
  width: 190px;
  height: 410px;
}
.tab-fuelup img{
  width: 160px;
  height: 400px;
} 
